[metadata]
title: This is an example sparse profile
description: You can include as much metadata as makes sense for your
  setup, and values can extend over multiple lines.
lorem ipsum = Keys and values are separated by a : or =
; hidden: the hidden key lets you mark profiles that should not
;  generally be discorable. The value doesn't matter, use it to motivate
;  why it is hidden.

[include]
media/audio
bar/python_project/**/*.py
replay-scripts
replay_build_scripts

[exclude]
; exclude rules override include rules, so all files with the extension
; .ignore are excluded from this sparse profile.